*,
*::before,
*::after {
  box-sizing: border-box;

}
body{
  text-align: center;
  
}
html{
  background: url(../backfon.png) no-repeat center center;
  min-width: 100%; min-height: 100%; background-size: cover;
} 
h1{
  font-family: 'Akzidenz-Grotesk Pro Bold Ext'; font-size: 57.33px;
  background: linear-gradient(80deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 48%,
  rgba(255, 255, 255, 0.48) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 8px; margin-bottom: 8px;
}
small{
  color:white;
  font-size: 11.11px;
  letter-spacing: 0.15em;
  font-family: 'Akzidenz-Grotesk Pro Med';
  background: linear-gradient(80deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.24) 48%,
  rgba(255, 255, 255, 0.12) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
p{
  font-size: 16px;
  font-family: 'Akzidenz-Grotesk Pro Med';
  background: linear-gradient(80deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.48) 48%,
  rgba(255, 255, 255, 0.24) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0; margin-bottom: 32px;
}
.knopka{
 color:white; font-size: 16px; font-family: 'Akzidenz-Grotesk Pro Med';
 background: linear-gradient(80deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 48%,
  rgba(255, 255, 255, 0.48) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 16px 32px;
}
.button{
  background: Solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  display:inline-block;
  transition: 0.64s;
}
.button:hover{
  transform: scale(1.08); transition: 0.32s;
}
.center1{
  margin: 50% 0%;
}
.icons{
  position: fixed;
  bottom: 0px; width: 100%; left: 0px;
  margin-bottom: 24px;
} 
.icons a{
  margin: 0 8px;
}
.icons a img{
  opacity: 48%;
  transition: 0.64s;
} 
.icons a:hover img{
 opacity: 90%;
 transition: 0.32s;
}
img{
  pointer-events: none;
}